<div class="conteiner">
    <ng-container *ngIf="check; else elseTemplate">
        <carousel>
            <slide *ngFor="let noticia of aNoticiaGuardada; let index=index">
                <img [src]="noticia.Imagen" alt="image slide" style="display: block; width: 100%;">
                <div class="carousel-caption">
                    <h4>{{noticia.Titulo}}</h4>
                    <p>{{noticia.Descripcion}}</p>
                    <small>{{noticia.FechaCreacion}} - {{noticia.UltimaModificacion}}</small>
                    <br>
                    <a class="btn btn-outline-primary" routerLinkActive="active" [routerLink]="['/noticias-edit/', noticia.Id]">
                        Editar
                    </a>
                </div>
            </slide>
        </carousel>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="alert alert-primary" align="center" role="alert">
            <p>¡No Hay Noticias!</p>
        </div>
    </ng-template>
</div>
<br>